<style >
/*[ FONT ]*/
/*mobile display*/
[class *= "c-"] { width: 100%; }

@media only screen and (min-width: 600px) {
    /*tablet display: */
    .c-m-1 { width: 8.33%; }
    .c-m-2 { width: 16.66%; }
    .c-m-3 { width: 25%; }
    .c-m-4 { width: 33.33%; }
    .c-m-5 { width: 41.66%; }
    .c-m-6 { width: 50%; }
    .c-m-7 { width: 58.33%; }
    .c-m-8 { width: 66.66%; }
    .c-m-9 { width: 75%; }
    .c-m-10 { width: 83.33%; }
    .c-m-11 { width: 91.66%; }
    .c-m-12 { width: 100%; }
}

@media only screen and (min-width: 800px) {
    /*desktop display: */

    .c-1 { width: 8.33%; }
    .c-2 { width: 16.66%; }
    .c-3 { width: 25%; }
    .c-4 { width: 33.33%; }
    .c-5 { width: 41.66%; }
    .c-6 { width: 50%; }
    .c-7 { width: 58.33%; }
    .c-8 { width: 66.66%; }
    .c-9 { width: 75%; }
    .c-10 { width: 83.33%; }
    .c-11 { width: 91.66%; }
    .c-12 { width: 100%; }
}

@media (max-width:800px) {
    .dis {
        display: none;
    }
}

@media (max-width:1000px) {
    #tableform {
        float: left;
    }
}

body {
margin:0px;
}

.colred {
    color: red;
    height: 20px;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.login_container {
    min-height: 100%;
    justify-content: center;
    align-items: center;
    background: #666666;
}

.wraplogin {
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    padding: 5%;
    animation-name: loginsetup;
    animation-duration: 1s;
    opacity: 0.0;
    animation-fill-mode: forwards;
}

@keyframes loginsetup {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.form-title {
    font-family: "Buenard";
    font-size: 36px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    display: block;
    padding-bottom: 10%;
}

.form-title:hover {
    transform: skew(31deg, 0deg);
    transition-delay: 1s;
    transform: skew(-31deg, 0deg);
    transition-delay: 1s;
    transform: skew(0deg, 0deg);
}

.wrap-input {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}

.input {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: inline-block;
    width: 100%;
    background: #e6e6e6;
    border-radius: 25px;
    outline-style: none;
    padding: 0 88px 0 10px;

}

.heightlogin {
    height: 50px;
}

.heightsignup {
    height: 30px;
}

    .input:focus {
        background-color: #d6d6d6;
    }



.button-container {
    width: 100%;
    justify-content:center;
    padding-top: 20px;
}

.login-form-btn {
    color: rgb(255, 255, 255);
    font-size: 21px;
    line-height: 21px;
    padding: 6px;
    border-radius: 47px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: linear-gradient(to right, #DBDBDB 0%, #9D9D9D 50%, #3A3A3A 100%);
    width: 100%;
    height: 50px;
    outline-style: none;
}

    .login-form-btn:hover {
        background: #909d9d;
    }

    .login-form-btn:active {
        background: #144E75;
    }

.clearfix {
    content: "";
    clear: both;
}

.logintag {
    font-family: Buenard;
    font-size: 18px;
    text-align: left;
}

/*aboutus page*/
/*mobile display*/

[class *= "c-aboutdesk-"] {
    width: 100%;
    position: relative;
    left: 0px;
}

@media only screen and (min-width: 700px) {
    /*tablet display: */
    .paddingaboutus-t {
        padding-top: 3%;
        padding-left: 3%;
    }

    .paddingdivs-t {
        padding-left: 3%;
        padding-top: 0%;
    }
    
}

@media only screen and (min-width: 900px) {
    /*desktop display: */
    .c-aboutdesk-d {
        width: 80%;
        position: relative;
        left: 10%;
    }
}

.aboutus_container {
    min-height: 100%;
    filter: brightness(80%);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url(https://allegromediamusic.files.wordpress.com/2018/03/8281fadb7336e7ced706e1043e023e1c.jpg)
}

.aboutuspage {
    height: 2750px;
}

.devpage {
    height: 2800px;
}
.wrap_aboutus {
    background-color: #ffffff;
    overflow: hidden;

}

.skewdiv {
    background-color: #F7D633;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: 1;
}

.skewr {
    transform: skew(0deg, -5deg);
}

.skewl {
    transform: skew(0deg, 5deg);
}

.highlight {
    text-shadow: 8px 2px 12px rgba(117,51,31,0.55);
}

.gif {
    z-index: 2;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 350px; 
    right: 10%;
}

.gifcontainer {
    height: 350px;
}

.colorstrip {
    height: 50px;
}

.paddingaboutus-d {
    padding-top: 3%;
    padding-left: 3%;
    padding-right:3%;
}

.paddingdivs-d {
    padding-left: 3%;
    padding-right: 3%;
}

.aboutus-title {
    font-family: "Buenard";
    color: #000000;
    line-height: 1.0;
    display: block;
    font-size: 45px;
    text-align: left;
}


.tcenter {
    text-align:center;
}

#bodyfooter {
    font-family: Optima, Helvetica, sans-serif;
    font-weight: 500;
    font-variant: small-caps;
    background-color: black;
    margin: 0;
    color: white;
}


#body {
    font-family: initial;
    font-weight: initial;
    font-variant: initial;
    background-color:initial;
    margin: initial;
    color: initial;
}

</style>
