

* {
	box-sizing: border-box;
}



@media only screen and (max-width: 599px) {
	/* For mobiles: */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}



@media only screen and (min-width: 600px) and (max-width: 767px) {
	/* For tablets: */
	.col-t-1 {width: 8.33%;}
	.col-t-2 {width: 16.66%;}
	.col-t-3 {width: 25%;}
	.col-t-4 {width: 33.33%;}
	.col-t-5 {width: 41.66%;}
	.col-t-6 {width: 50%;}
	.col-t-7 {width: 58.33%;}
	.col-t-8 {width: 66.66%;}
	.col-t-9 {width: 75%;}
	.col-t-10 {width: 83.33%;}
	.col-t-11 {width: 91.66%;}
	.col-t-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* ******* step 4: clear both */
[class*="col-"] {
	float: left;
	padding: 5px;
}

@media (max-width:767px) {
	#optionalstuff {
	  display: none;
	}
  }



#main-content> h3{
	margin: 1%;
	margin-left: 5%;
	
	}


#user-info{
	float: left;
	padding: 3%;
	margin-left: 1.5%;
	display:grid;
	text-align: center;
}


#profilepicture{
	width: 200px; /* width of container */
	height: 200px; /* height of container */
	clip-path: circle();
	object-fit: cover;
}

 #user-name{
	font-size: x-large;
 }

 #f-box {
 	display:inline-block;
 	width:100%;
 }


 #user-handle{
	margin-bottom: 2%;
}


#user-following a{
	color: rgb(228, 228, 228);
	text-decoration: none;
	
}

#user-following a:hover{
	color: rgb(189, 188, 188);
	font-size: large;
	
}

 #user-follow-div>div{
margin-right: 5%;
} 

.follow-btn{
	background-color: #23ac45 ;
	  border-radius: 5px;
	
}
	 
.follow-btn:hover {
		background-color:#6c7c7c;
		transform: scale(1.1);
 }



 #user-bio p{
	width:100%;
	border-radius: 5px;
}
#user-edit{
	width:100%;
	padding: 2%;
 
}
.vl {
	border-left: 1px solid rgb(233, 224, 224);
	height: 60%;
	position: absolute;
	left: 25%;
	margin-left: 2%;
	margin-top: 70px;
	position:absolute;
  }
 
  #user-movie-content h3, #user-movie-content h6{
	  margin-left: 5%;
	  margin-top: 2%;
  }
#user-links{
	margin-top: 2%;
	
}
 
#user-links-nav{
	display: flex;
	font-size: medium;

}

#user-links-nav> div{
margin: auto;	
}

.nav{
	
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgb(190, 190, 190);
	border-top: 1px solid rgb(190, 190, 190);
  }

   
  .nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
  }
   
  .nav a:hover {
	background-color: rgb(254,202,49);
	color: black;
  }
   
 a.active{
	font-weight: bold;
	cursor: default;
	background-color: rgb(254,202,49);
	color: black;
  } 

#user-list li{
	list-style-type: none;
}

#user-movie-info{
background-color: rgb(20, 20, 20);
box-shadow: 5px -2px 8px 0px rgb(114, 114, 114);
margin-top: 5%;
width: 90%;
min-height: 15%;
overflow: hidden;
transition: transform 0.5s;

}

#user-movie-info > h3{
font-size: large;
}

#user-movie-info:hover{
transform: scale(1.03);
cursor: pointer;
}


#list-link{
text-decoration: none;
	}


#list-movie-poster{
float: left;
max-height:20vh;
margin-right: 3.5%;
}



#user-movie-info p{
	padding-right: 2%;	
}

#user-edit-btn {
	background-color:#0e0f0f;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
}
#user-edit-btn:hover {
	background-color:#596363;
	transform: scale(1.1);
}
#user-edit-btn:active {
	position:relative;
	top:1px;
}

#remove-movie{
	background: none;
	padding: 0;
	border: none;
	color: rgb(145, 145, 145);
	float: right;
	margin-top:2%;
	margin-right: 2%;
	cursor: pointer;
	transform: scale(0.9);

}


#user-follow-list{
	margin-top: 5%;
	width: 70%;
	height: 8vh;
	overflow: hidden;
	

}

.follower-pic{
	object-fit: cover;
	width:80px;
	height: 100px;
	

}
#search-results{
	width: 90%;
	margin: 5%;
}

#search-link{
	width: 100%;
	font-size: larger;
	text-decoration: none;
}

#search-link:hover{
 color: rgb(254,202,49);;
}

#top-user, #matched-result{
	border-left:0.5px solid #444c4a;
	padding-left: 3%;
	margin: 2%;
}

.top-user-content,.matched-result-content{
	margin-top: 4%;
}
