@media only screen and (max-width: 599px) {
	/* For mobile: */
	.remove-m {display: none;}
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
	#b0, #b1, #b2, #b3, #b4, .sections {
		height:60vh;
		text-align: center;
	}
	#st1, #st2, #st3, #st4 {
		height:20vh;
	}
	#st1-img, #st2-img, #st3-img, #st4-img {
		height:40vh;
	}
}	
	
@media only screen and (min-width: 600px) and (max-width: 767px) {
	/* For tablets: */
	.remove-t {display: none;}
	.col-t-1 {width: 8.33%;}
	.col-t-2 {width: 16.66%;}
	.col-t-3 {width: 25%;}
	.col-t-4 {width: 33.33%;}
	.col-t-5 {width: 41.66%;}
	.col-t-6 {width: 50%;}
	.col-t-7 {width: 58.33%;}
	.col-t-8 {width: 66.66%;}
	.col-t-9 {width: 75%;}
	.col-t-10 {width: 83.33%;}
	.col-t-11 {width: 91.66%;}
	.col-t-12 {width: 100%;}
	#b0 {height:100vh;}
	#b1, #b2, #b3, #b4, .sections {
		height:90vh;
		text-align: center;
	}
	#st1, #st2, #st3, #st4 {
		height:30vh;
	}
	#st1-img, #st2-img, #st3-img, #st4-img {
		height:60vh;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.remove {display: none;}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 24.5%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	#b0 {height:100vh;}
	#b1, #b2, #b3, #b4, #b1 div, #b2 div, #b3 div, #b4 div {height:70vh;}

}

body {
	font-family: Optima, Helvetica, sans-serif;
	font-weight: 500;
	font-variant: small-caps;
	background-color: black;
	margin: 0;
	color: rgb(220,230,230);
}

.fa {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 25px 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px !important;
    background: transparent;
    color: rgb(220,230,230);
    border: none;
}

#sliding-menu {
	float:left;
	height: 100vh;
	z-index:5;
	position: absolute;
	left:-1000px;
	background-color: rgb(18,18,18);
	color: rgb(220,230,230);
	font-size: 20px;
	position: fixed;
	overflow-y:scroll;
	padding-left: 7%;
	z-index: 20;
}

#movie-menu {
	padding-top: 80px;
}

#popular-menu, #admin-menu, #about-us-menu {
	padding-top:30px;
}

#movie-menu li, #tv-show-menu li {
	display: none;
	list-style-type: none;
	font-size: 12px;
}

#sliding-menu ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 10%;
}

#header {
	width:100%;
	padding-top:10px;
	padding-bottom: 13px;
	padding-left:20px;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
	z-index:10;
}

#large-header {height:80px;}

#small-header {height:50px;}

#search-bar, #search-bar-s {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-top: 0px;
    font-size: 15px;
    text-align:left;
    background:transparent;
    border: none;
    border-bottom: 1px solid rgb(254,202,49);
    color: rgb(115,115,115);
    width:80%;
}

#small-header .fa {
	margin-top: 10px;
	margin-right: 20px;
}

#footer-box {
	width:100%;
	display:inline-block;
}

.footer{
	background-color: black;
	border-top:8px solid rgb(18,18,18);
	font-family: Helvetica, Arial, sans-serif;
	color:rgb(115,115,115);
	bottom:0;
	width:100%;
	height:300px;
	font-size: 0;
}

.footer-heading {
	width:100%;
	padding-top:50px;
	font-size: 16px;
	text-align: center;
}

.footer-content {
	width:calc(100%/4);
	display:inline-block;
	padding-top:20px;
	font-size:13px;
	text-align: center;
	margin:0;
}

#find-us-icons {padding-top:10px;}

.footer-content a, #trending-listing > a {
	color:rgb(115,115,115);
	text-decoration: none;	
}

 #sliding-menu a, .item a, .main-tabs a, #left-menu-large a, #left-menu-box a {text-decoration: none;}

.footer-content a:hover, #trending-listing a:hover {
	text-decoration: underline;
}

#footer-end {
	padding-top:10px;
	padding-bottom: 20px;
	font-size:10px;
}

.fa-user-circle:hover, .fa-search:hover, .fa-arrow-right:hover, .fa-bars:hover, .fa-times:hover, .fa-angle-down:hover, .fa-angle-up:hover, #sliding-menu a:hover, #trending-listing a:hover, .fa-bookmark-o:hover, .fa-plus-square-o:hover, .fa-heart-o:hover, #left-menu-large a:hover, .fa-star, .left-menu-box .fa-angle-down {color: rgb(254,202,49);}

.fa-facebook:hover {background: #3B5998;}

.fa-youtube:hover {background: #bb0000;}

.fa-instagram:hover {background: #7e3daf;}

.fa-twitter:hover {background: #1ca2f0;}

.poster-container {
	margin: 0 5px;
	display: inline-block;
	width:15%;
}

.poster-container img {
	border-radius: 5px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#top-text {
	margin: 3vw 2vw 2vw 4vw;
	border-bottom: 1px solid rgb(115,115,115);
}

#top-text h2 {
	font-size: 3vw;
	color: white;
	padding-left: 1.5vw;
}

.fa-line-chart {padding-right: 1vw;}

/*1 had -l with it and i removed it yikes*/
#sect1, #sect2, #sect3, #sect4 {
	overflow: auto;	
	white-space: nowrap;
	padding-bottom: 3%;
}

#sect1, #sect2, #sect3, #sect4 {padding-top: 3%;}

#trending-listing > a {
	font-size: 3vw;
	padding-left: 5%;
}

#sect1-e {
	display: none;
	padding-bottom:3%;
	overflow-x: hidden;
	width:100vw;
}

div .lpos-i {
	width:32vw;
	float:left;
	padding-top:7%;
	padding-left: 5%;
	font-size:3vw;
	white-space: normal;
	padding-bottom: 5%;
	color: rgb(220,230,230);
}

.tiny {
	font-size: 1vw;
	padding-top: 21px;
}

div .faded > img {
	position: relative;
	width: 64vw;
	float:right;
	margin:0;
	z-index: -1;
}

div .faded {
	width:64vw;
	height:auto;
	float:right;
	margin:0;
	object-fit: cover;
	background-image: linear-gradient(to right, black, transparent);
}

.fully-faded > img {
	width:100vw;
	z-index:-1;
	margin:0;
	position: relative;
}

.fully-faded {
	position: relative;
	width:100vw;
	min-height: auto;
	margin:0;
	object-fit: cover;
	background-image:radial-gradient(circle, rgba(0,0,0,0.43040966386554624) 42%, rgba(0,0,0,0.8925945378151261) 83%), linear-gradient(to left, black, transparent);
}

#main-img-text {
	width:40%;
	word-wrap: break-word;
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#main-img-text h1 {
	font-size: 4vw;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 0px 20px #EFEFEF;
}

.main-btn {
	font-size: 1.4vw;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin-top: 1vw;
	margin-bottom: 2.5vw;
	width: 15vw;
	border-radius: 12px;
	border-color: rgb(232, 184, 44);
	background-color: rgb(232, 184, 44);
	-webkit-box-shadow: 0px 0px 18px 0px rgba(254,202,49,1);
	-moz-box-shadow: 0px 0px 18px 0px rgba(254,202,49,1);
	box-shadow: 0px 0px 18px 0px rgba(254,202,49,1);
}


.faded, .lpos-i, #sect1-e, #sect2-e, #sect3-e, #sect4-e, #hidden-search-bar {display: none;}

.l-pos-exit {
	float:right;
	border:0;
	margin: 0;
}

.fa-bookmark-o, .fa-plus-square-o, .fa-heart-o, .fa-check-square, .fa-bookmark, .fa-heart, .fa-line-chart {margin:0;}

#page-content {
	margin-bottom: 5vh;
	min-height: 50vh;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif;
	font-variant: normal;
	color:rgb(115,115,115);
}

#left-menu-large {
	background-color: black;
	float:left;
	height:100vh;
	overflow-y: auto;
	padding-left: 15px;
	font-size: 13px;
}

#poster-section {
	float:left;
	height:100vh;
	background-color: black;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left:25px;
	padding-right: 25px;
	padding-bottom: 50px;
}

/*make it be a slider*/
#right-display {
	display:none;
	background-color:rgb(18,18,18);
	float:right;
	height:100vh;
	overflow-y:auto;
	width:300px;
}

.bold-tiny {
	font-weight: bold;
	display: block;
	float: none;
	padding-top: 15px;
	text-decoration: none;
	margin:0;
}

#left-menu-large li {
	list-style-type: none;
	font-weight: 300;
	color: rgb(220,230,230);
}

/*add second class to active left section links*/
#left-menu-large li:hover, .active-link {
	color:rgb(254,202,49);
	background-color: rgb(115,115,115);
}

ul {padding-left: 0px;}

#left-menu-small #open-left-menu {
	text-align: center;
	color: white;
	width: 100%;
	padding: 1% 5%;
	margin: 10 0;
	border: 2px solid rgb(115,115,115);
}

#left-menu-box {text-align: center;}

#left-menu-small .fa-angle-down {
	margin:0;
	color: white;
}

.fa-plus, .fa-fire, .fa-question, .fa-music, .fa-futbol-o, .fa-user-o, .fa-heart, .fa-child, .fa-book, .fa-bomb, .fa-history, .fa-map-o, .fa-smile-o, .fa-grav, .fa-eye, .fa-motorcycle, .fa-moon-o, .fa-suitcase, .fa-anchor, .fa-paint-brush, .fa-sign-language, .fa-hourglass-half, .fa-star {
	margin: 0;
	margin-right:3px;
}

.main-text {
	font-size: 35px;
	font-weight: 300;
	color:white;
	letter-spacing: 0.05em;
}

.main-tabs {
	border-bottom: 1px solid rgb(115,115,115);
	color:rgb(115,115,115);
}

.main-tabs > a {
	display: inline-block;
	margin-right: 3vw;
	font-weight: 500;
	padding-bottom: 5px;
}

/*add second class to active tab links*/
.main-tabs > a:hover, .active-tab {border-bottom: 2px solid rgb(254,202,49);}

#poster-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items:center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
	padding-top: 30px;
}

#poster-listings img {
	width:100%;
    height:auto;
}

.item {width: 220px;}

.item-info {
	background-color: rgb(18,18,18);
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	height:100px;
	color: rgb(220,230,230);
}

.title {
	font-weight: bold;
	font-size: 11px;
	display: block;
	float: none;
	text-decoration: none;
	margin:0;
	color: rgb(220,230,230);
	text-transform: uppercase;
}

.genres-list {
	font-weight: 400;
	font-size: 10px;
	color: rgb(115,115,115);
}

.genres > p {
	padding: 5px 10px;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	color: rgb(115,115,115);
	margin:0;
}

#main-info {
	width:100%;
	padding-top: 30px;
}

#film-info {
	float:right;
	padding-top:50px;
	text-align: center;
}

#film-pos {
	float: left;
	text-align: center;
}

#film-pos img {
	max-width:100%;
	height: auto;
	width: auto\9; /* ie8 */
}

#film-reviews {
	width:100%;
	float: right;
}

#film-actions a {
	align-items: center;
	display: inline-block;
	margin: 10px 5px 20px 5px;
	text-decoration: none;
	color: rgb(220,230,230);
}

#film-rating {color:white;}

#review-head {
	padding-top: 50px;
	border-bottom: 2px solid rgb(220,230,230);
	font-size: 25px;
	color: white;
	letter-spacing: 0.1em;
	font-weight: 200;
}

.review-box, .result {
	padding-top: 10px;
	padding-bottom: 15px;
	display: inline-block;
	width:100%;
	border-bottom: 1px solid rgb(220,230,230);
}

.rev-img {
	float:left;
	width:10%;
	height:10%;
}

.rev-img > img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.rev-user > i {
	margin-left:3px;
	height: auto;
	width: auto;
}

.rev-user, .rev-user a {
	font-size: 13px;
	font-weight:200;
	text-decoration: none;
}

.rev-text {font-weight:300;}

.rev {
	float: right;
	width:87%;
	overflow-wrap: break-word;
}

#leave-review {
	margin-top: 50px;
	margin-left: 8%;
	margin-right: 10%;
	color: white;
	font-size: 18px;
	font-weight: 300;
}

#reviews-list {
	margin-top: 50px;
	margin-left: 8%;
	margin-right: 10%;
}

#review {
	width: 100%;
	height:100px;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#review-title {
	width: 100%;
	height: 20px;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

select {
	margin-top:8px;
	margin-left: 15px;
	width: 20%;
}

input[type=submit] {
	width:20%;
	float:right;
	background-color: rgb(254,202,49);
	color: black;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
}

#res-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    place-items:center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
	padding-top: 30px;
}

#res-listings img {
	width:100%;
    /*height:auto;*/
}

.res-img, .ures-img {
	float:left;
	width:30%;
	height:100%;
}

.ures-img img {
	border-radius: 50%;
	height: 100%;
	width:100%;
	object-fit: cover;
}
.user-list {height:100%;}

.res {
	float: right;
	width:69%;
	white-space: normal;
	overflow-wrap: break-word;
	text-align: start;
	font-weight: 300;
	font-size: 3vh;
	color: rgb(220,230,230);
	padding-left: 10px;
}

.ures {
	font-size: 15px;
	float: right;
	width:69%;
	white-space: normal;
	overflow-wrap: break-word;
	text-align: start;
	padding-left: 18px;
}

.handle {
	margin-bottom: 5px;
	margin-top: 10px;
	font-weight: 500;
	color: rgb(220,230,230);
}

.fullname {
	margin-top: 5px;
	font-weight: 300;
	color: rgb(115,115,115);
}

#b0 {
	position: relative;
	text-align: center;
}

#entry-image {
	background-image: linear-gradient(180deg, rgba(0,0,0,0.26234243697478987) 70%, rgba(0,0,0,0.8561799719887955) 98%), linear-gradient(0deg, rgba(0,0,0,0.26234243697478987) 70%, rgba(0,0,0,0.8561799719887955) 98%), url("https://www.myanmore.com/wp-content/uploads/2019/05/netflix-background-9.jpg");
	background-size: cover;
	color:white;
	margin:0;
	height:100%;
	width:100%;
}

#b0 h1 {
	position: absolute;
	color: white;
	text-align: center;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-variant: normal;
  	font-size: 5vw;
  	font-weight: bold;
  	line-height: 1.1;
  	text-shadow: 0px 0px 7px #FFFFFF;
}

#b0 button {
	margin-top: 3%;
	position:absolute;
	font-family: helvetica Neue;
	font-variant: normal;
	font-size: 2vw;
	padding: 10px 20px;
	top: 60%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background-color: rgb(232, 184, 44);
	border-radius: 12px;
	border-color: rgb(232, 184, 44);
	-webkit-box-shadow: 0px 0px 18px 0px rgba(254,202,49,1);
	-moz-box-shadow: 0px 0px 18px 0px rgba(254,202,49,1);
	box-shadow: 0px 0px 18px 0px rgba(254,202,49,1);
}

#b1, #b2, #b3, #b4 {width:100%;}

.sections {
	border-top:8px solid rgb(18,18,18);
	font-variant: normal;
}

.section-text {
	font-family: helvetica Neue;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	padding-top:5%;
}

.section-text h1 {
	font-size: 3.5vw;
	font-weight: bold;
}

.section-text p {
	font-size:2vw;
	margin-top:5%;
	font-weight: 300;
}

#st1, #st3, #st2-img, #st4-img, #logo-large, #logo-small, .slider-menu {float: left;}

#st2, #st4, #st1-img, #st3-img, .user-icon, #open-search-bar, #fixed-search-bar, #slider-menu-exit {float:right;}

.section-img img {
	padding-top: 10%;
	height:90%;
	width: auto;
}

.section-img {
	text-align: center;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
  }
  ::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
  }
  ::-webkit-scrollbar-thumb {
	background: #fcb530;
	border: 25px none #ffffff;
	border-radius: 35px;
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #808080;
  }
  ::-webkit-scrollbar-thumb:active {
	background: #808080;
  }
  ::-webkit-scrollbar-track {
	background: #000000;
	border: 0px none #ffffff;
	border-radius: 71px;
  }
  ::-webkit-scrollbar-track:hover {
	background: #000000;
  }
  ::-webkit-scrollbar-track:active {
	background: #000000;
  }
  ::-webkit-scrollbar-corner {
	background: transparent;
  }