@media only screen and (max-width: 599px) {
	/* For mobile: */
	.remove-m {display: none;}
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}	
	
@media only screen and (min-width: 600px) and (max-width: 767px) {
	/* For tablets: */
	.remove-t {display: none;}
	.col-t-1 {width: 8.33%;}
	.col-t-2 {width: 16.66%;}
	.col-t-3 {width: 25%;}
	.col-t-4 {width: 33.33%;}
	.col-t-5 {width: 41.66%;}
	.col-t-6 {width: 50%;}
	.col-t-7 {width: 58.33%;}
	.col-t-8 {width: 66.66%;}
	.col-t-9 {width: 75%;}
	.col-t-10 {width: 83.33%;}
	.col-t-11 {width: 91.66%;}
	.col-t-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.remove {display: none;}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 24.5%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color:black;
	margin: 0;
	color:white;
}

.header_footer {
	font-family: Optima, Helvetica, sans-serif;
	font-weight: 500;
	font-variant: small-caps;
	background-color: black;
	margin: 0;
	color: white;
}

.fa {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 25px 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px !important;
    background: transparent;
    color: white;
    border: none;
}

#sliding-menu {
	float:left;
	height: 100vh;
	z-index:2;
	position: absolute;
	left:-1000px;
	background-color: rgb(18,18,18);
	color: white;
	font-size: 20px;
	position: fixed;
	overflow-y:scroll;
	padding-left: 7%;
}

#movie-menu {
	padding-top: 80px;
}

#popular-menu, #admin-menu, #about-us-menu {
	padding-top:30px;
}

#movie-menu li, #tv-show-menu li {
	display: none;
	list-style-type: none;
	font-size: 12px;
}

#sliding-menu ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 10%;
}

#header {
	width:100%;
	padding-top:10px;
	padding-bottom: 13px;
	padding-left:20px;
	top: 0;
	position: -webkit-sticky;
		position: sticky;
}

#logo-large, #logo-small, .slider-menu {
	float: left;
}

.user-icon, #open-search-bar, #fixed-search-bar, #slider-menu-exit {
	float: right;
}

#large-header {
	height:80px;
}

#small-header {
	height:50px;
}

#search-bar, #search-bar-s {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-top: 0px;
    font-size: 15px;
    text-align:left;
    background:transparent;
    border: none;
    border-bottom: 1px solid rgb(254,202,49);
    color: rgb(115,115,115);
    width:80%;
}

#hidden-search-bar {
	display: none;
}

#small-header .fa {
	margin-top: 10px;
	margin-right: 20px;
}

.footer {
	background-color: black;
	border-top:8px solid rgb(18,18,18);
	font-family: Helvetica, Arial, sans-serif;
	color:rgb(115,115,115);
	bottom:0;
	width:100%;
	height:300px;
	font-size: 0;
	z-index:1;
}

.footer-heading {
	width:100%;
	padding-top:50px;
	font-size: 16px;
	text-align: center;
}

.footer-content {
	width:calc(100%/4);
	display:inline-block;
	padding-top:20px;
	font-size:13px;
	text-align: center;
	margin:0;
}

#find-us-icons {
	padding-top:10px;
}

.footer-content a {
	color:rgb(115,115,115);
	text-decoration: none;	
}

 #sliding-menu a {
 	text-decoration: none;
 }

.footer-content a:hover {
	text-decoration: underline;
}

#footer-end {
	padding-top:10px;
	padding-bottom: 20px;
	font-size:10px;
}

.fa-user-circle:hover, .fa-search:hover, .fa-arrow-right:hover, .fa-bars:hover, .fa-times:hover, .fa-angle-down:hover, .fa-angle-up:hover, #sliding-menu a:hover {
	color: rgb(254,202,49);
}

.fa-facebook:hover {
    background: #3B5998;
}

.fa-youtube:hover {
    background: #bb0000;
}

.fa-instagram:hover {
    background: #7e3daf;
}

.fa-twitter:hover {
    background: #1ca2f0;
}

#page-content {
	padding-left:8%;
	padding-right:6%;
}

/*style for scrollbar*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fcb530;
  border: 25px none #ffffff;
  border-radius: 35px;
}
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
::-webkit-scrollbar-thumb:active {
  background: #808080;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 71px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
